1 ICON "rsrc\\main\\main.ico"
arrow_switch ICON "rsrc\\icons\\arrow_switch.ico"
bug ICON "rsrc\\icons\\bug.ico"
bullet_arrow_bottom ICON "rsrc\\icons\\bullet_arrow_bottom.ico"
bullet_arrow_top ICON "rsrc\\icons\\bullet_arrow_top.ico"
bullet_go ICON "rsrc\\icons\\bullet_go.ico"
calculator ICON "rsrc\\icons\\calculator.ico"
comment ICON "rsrc\\icons\\comment.ico"
compress ICON "rsrc\\icons\\compress.ico"
control_end_blue ICON "rsrc\\icons\\control_end_blue.ico"
control_fastforward_blue ICON "rsrc\\icons\\control_fastforward_blue.ico"
control_pause_blue ICON "rsrc\\icons\\control_pause_blue.ico"
control_play_blue ICON "rsrc\\icons\\control_play_blue.ico"
control_repeat_blue ICON "rsrc\\icons\\control_repeat_blue.ico"
control_stop_blue ICON "rsrc\\icons\\control_stop_blue.ico"
cross ICON "rsrc\\icons\\cross.ico"
database_delete ICON "rsrc\\icons\\database_delete.ico"
database_go ICON "rsrc\\icons\\database_go.ico"
database_save ICON "rsrc\\icons\\database_save.ico"
error ICON "rsrc\\icons\\error.ico"
find ICON "rsrc\\icons\\find.ico"
folder_delete ICON "rsrc\\icons\\folder_delete.ico"
folder_page ICON "rsrc\\icons\\folder_page.ico"
help ICON "rsrc\\icons\\help.ico"
information ICON "rsrc\\icons\\information.ico"
layout ICON "rsrc\\icons\\layout.ico"
layout_edit ICON "rsrc\\icons\\layout_edit.ico"
table_row_delete ICON "rsrc\\icons\\table_row_delete.ico"
table_row_insert ICON "rsrc\\icons\\table_row_insert.ico"
tag_blue ICON "rsrc\\icons\\tag_blue.ico"
telephone ICON "rsrc\\icons\\telephone.ico"
wrench ICON "rsrc\\icons\\wrench.ico"
